@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

/*Mobile-last => Max-width*/
@media (max-width: 1200px) {
  .main .grid-container {
    grid-template-columns: repeat 1, 1fr;
    grid-template-rows: repeat 3, 1fr;
    width: 600px;
    grid-template-areas: "imagen1 imagen2" "imagen3 imagen4" "imagen5 imagen6"; } }

@media (max-width: 890px) {
  .header .nav-header ul {
    flex-direction: column;
    align-items: center;
    width: 367px;
    margin-bottom: 1rem;
    margin-top: 1rem; }
  .clearfix img {
    width: 100%; } }

@media (max-width: 650px) {
  .main .grid-container {
    grid-template-columns: repeat 1, 1fr;
    grid-template-rows: repeat 6, 1fr;
    width: 300px;
    grid-template-areas: "imagen1" "imagen2" "imagen3" "imagen4" "imagen5" "imagen6"; } }

@media (max-width: 507px) {
  .header .nav-header ul {
    flex-direction: column;
    align-items: center;
    width: 260px; } }

@media (max-width: 350px) {
  .main .grid-container {
    grid-template-columns: repeat 1, 1fr;
    grid-template-rows: repeat 6, 1fr;
    width: 250px;
    grid-template-areas: "imagen1" "imagen2" "imagen3" "imagen4" "imagen5" "imagen6"; } }

@media (max-width: 350px) {
  .header .nav-header ul {
    flex-wrap: nowrap;
    width: 156px;
    font-size: small; } }

.header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap; }
  .header img {
    width: 50px; }

.nav-header ul {
  display: flex;
  list-style: none;
  width: 800px;
  justify-content: space-evenly; }
  .nav-header ul a {
    text-decoration: none;
    color: black;
    font-weight: bold; }
    .nav-header ul a:hover {
      color: #4777c4; }

.nav-footer {
  display: flex;
  justify-content: space-around;
  align-items: baseline; }
  .nav-footer ul {
    display: flex;
    list-style: none; }
    .nav-footer ul a {
      display: flex;
      text-decoration: none;
      color: black;
      margin-right: 20px; }

.icons i {
  font-size: 20px; }

h1 {
  color: black;
  text-align: left;
  padding: 35px;
  background-color: rgba(0, 0, 0, 0.173); }

.container {
  padding: 15px; }

body main {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: rgba(0, 0, 0, 0.173); }

/* ----pagina inicio---- */
/* animación titulo */
.animate__flash {
  --animate-duration: 3s; }

.btn:hover {
  background-color: #4777c4;
  color: white;
  transition: 1.1s; }

.parrafo-contacto {
  align-items: baseline; }

.formulario {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column; }
  .formulario input {
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px; }
    .formulario input:hover {
      background-color: #4777c4;
      color: white;
      transition: 1.1s; }
  .formulario select {
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px; }
  .formulario textarea {
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px; }

.email-contacto {
  color: black;
  text-decoration: none; }
  .email-contacto:hover {
    text-decoration: underline; }

iframe {
  width: 100%; }

/* ----página de constelaciones---- */
/* galeria de talleres grupales */
.grid-container {
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 2, 1fr;
  grid-template-areas: "imagen1 imagen2 imagen3" "imagen4 imagen5 imagen6";
  margin: 5% auto;
  width: 1100px;
  height: 600px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.337); }
  .grid-container .imagen {
    margin: 5px;
    background-position: center;
    background-size: cover;
    transition: 0.5s; }
    .grid-container .imagen:hover {
      transform: scale(1.1); }

.imagen1 {
  grid-area: imagen1;
  background-image: url(../recursos/IMG_6030.JPG); }

.imagen2 {
  grid-area: imagen2;
  background-image: url(../recursos/IMG_6033.JPG); }

.imagen3 {
  grid-area: imagen3;
  background-image: url(../recursos/IMG_6048.JPG); }

.imagen4 {
  grid-area: imagen4;
  background-image: url(../recursos/IMG_6129.JPG); }

.imagen5 {
  grid-area: imagen5;
  background-image: url(../recursos/IMG_6140.JPG); }

.imagen6 {
  grid-area: imagen6;
  background-image: url(../recursos/IMG_6146.JPG); }

.clearfix {
  margin: 25px; }

.caja-titulos {
  background-color: beige;
  padding: 15px; }

/* ----página estudio jurídico---- */
.caja-card {
  background-color: black; }

.row {
  justify-content: space-around;
  flex-direction: row; }
