.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    img {
        width: 120px;
    }
}

.nav-header {
    ul {
        display: flex;
        list-style: none;
        width: 800px;
        justify-content: space-evenly;
        margin-right: 15px;

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            &:hover {
                color: #4777c4;
                
            }
        }
    }
}