h1 {
    color: black;
    text-align: left;
    padding: 35px;
    background-color: $colorfondo;
}

.container {
    padding: 15px;
}


body main {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: $colorfondo;
}

/* ----pagina inicio---- */
/* animación titulo */
.animate__flash {
    --animate-duration: 3s;
}

.btn {
    &:hover {
        background-color: #4777c4;
        color: white;
        transition: 1.1s;
    }
}